# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# --- File di Sistema e IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# --- Output e Compilazione ---
build/
devel/
*.o

